extends common/layout

block layout-content
  h1 Add New Position
  if err
    p.error= err
  form(action="/addPosition" method="POST")
    div
      label(for="fullName") Full Name:
      input(type="text" id="fullName" name="fullName" required)
    
    div
      label(for="email") Email:
      input(type="email" id="email" name="email" required)
    
    div
      label(for="title") Title:
      input(type="text" id="title" name="title" required)
    
    div.form-group
      label(for="role") Role:
      select(id="role" name="role" required)
        option(value="employee") Employee
        option(value="employer") Employer
    
    div
      label(for="description") Description:
      textarea(id="description" name="description")
    
    div
      label(for="hireDate") Hire Date:
      input(type="date" id="hireDate" name="hireDate")
    
    button(type="submit") Add Position