extends ../common/layout

block layout-content 
  .main-content 
    h1.page-title Hello, #{username}
    p Welcome to your personal dashboard. Here, you can access various features and tools related to your account.
    a(href=`../info`) View the Dashboard